%h1= t('sessions.new.sign_in')
= form_for(:session, url: signin_path) do |f|
  .field
    = f.label :email, t('sessions.new.email')
    = f.email_field :email, class: 'form-control'
  .field
    = f.label :password, t('sessions.new.password')
    = f.password_field :password, class: 'form-control'
  .actions
    = f.submit t('sessions.new.sign_in_btn'), class: "btn btn-primary"
