= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name, t('users.form.name')
    = f.text_field :name, class: 'form-control'
  .field
    = f.label :email, t('users.form.email')
    = f.email_field :email, class: 'form-control'
  .field
    = f.label :password, t('users.form.password')
    = f.password_field :password, class: 'form-control'
  .field
    = f.label :password_confirmation, t('users.form.password_confirmation')
    = f.password_field :password_confirmation, class: 'form-control'
  .actions
    = f.submit t('users.form.create_account'), class: "btn btn-primary"