%p#notice= notice

.show_user
  .row
    %aside.span4
      %section
        %h1
          = gravatar_for @user
          = @user.name
  %p
    %b= t('users.show.email')
    = @user.email
  = link_to t('users.show.work'), work_path, class: "btn btn-lg btn-primary"