%header
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        = link_to 'MyApp', root_path, class: 'navbar-brand'
      %ul.nav.navbar-nav
        %li= link_to 'Темы', themes_path
        %li= link_to 'Изображения', images_path
        %li= link_to 'Оценки', values_path
        %li= link_to 'Пользователи', users_path
        %li= link_to 'Ruby on Rails Website', 'http://rubyonrails.org'