%header
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        = link_to t('shared.header.logo_title'), root_path, class: 'navbar-brand'
      %ul.nav.navbar-nav
        %li= link_to t('shared.header.themes'), themes_path
        %li= link_to t('shared.header.images'), images_path
        %li= link_to t('shared.header.values'), values_path
        %li= link_to t('shared.header.users'), users_path
        %li= link_to 'Ruby on Rails Website', 'http://rubyonrails.org'
      %ul.nav.navbar-nav.pull-right
        %li.locale-switcher
          = link_to image_tag("Russia.jpg", alt: "Русский", style: "width: 20px; height: 20px;"), url_for(locale: :ru)
          = link_to image_tag("United_Kingdom.jpg", alt: "English", style: "width: 20px; height: 14px;"), url_for(locale: :en)
        - if signed_in?
          %li.logged= current_user.email
          %li= gravatar_for current_user, size: 30
          %li.dropdown
            %a.dropdown-toggle{ href: "#", "data-toggle": "dropdown" }
              = t('shared.header.account')
              %b.caret
            %ul.dropdown-menu
              %li= link_to t('shared.header.profile'), current_user
              %li.divider
              %li= link_to t('shared.header.sign_out'), signout_path, method: :delete
        - else
          %li= link_to t('shared.header.sign_in'), signin_path
          %li= link_to t('shared.header.sign_up'), signup_path