%header
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        = link_to 'MyApp', root_path, class: 'navbar-brand'
      %ul.nav.navbar-nav
        %li= link_to 'Главная', root_path
        %li= link_to 'Помощь', main_help_path
        %li= link_to 'Контакты', main_contacts_path
        %li= link_to 'О нас', main_about_path
        %li= link_to 'Ruby on Rails Website', 'http://rubyonrails.org'